.dark {
    background: url("https://abrakadabra.fun/uploads/posts/2021-12/thumbs/1639622647_2-abrakadabra-fun-p-fon-messendzhera-2.jpg");
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}


.some-text {
    color: darkslateblue;
}