
.App {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    flex-wrap: wrap;

}

.all {

    background-image: url("https://html5book.ru/wp-content/uploads/2015/05/background13.jpg");
    min-height: 100vh;
    width: 100%;


}

.title {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;

}


@media screen and (max-width: 500px) {
    .App {
        flex-direction: column;
        align-items: center;
        display: flex;

    }}

@media screen and (max-width: 300px) {
    .App {
        flex-direction: column;
        align-items: center;
        display: block;

    }}
