.message {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.content {
    padding: 10px;
    border-radius: 15px 15px 15px 0;
    background-color: rgba(125, 232, 119, 0.6);

}




.angle {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgb(137 206 118 / 0%) 15px, rgba(125, 232, 119, 0.5) 0 );

}

.text {
    min-width: 150px;
    max-width: 300px;
    word-wrap: break-word;

}


.name {
    font-size: 20px;
    font-weight: bold;
    color: #646262;
}

.time {
    display: flex;
    justify-content: flex-end;
    color: #646262;
}

.backgroundImg{

 background: url('https://user-images.githubusercontent.com/1719915/147010969-369384dd-7e51-4fb1-9b63-876870a5645a.png');

}

