.superInput {
    outline: none;
    font-family: monospace;
    width: 100%;
    height: 20px;
    padding: 15px;
    border: 2px solid green;
    border-radius: 15px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: large;
}

.errorInput {
    border: 2px solid red;

}

.error {
    height: 15px;
    color: #e32323;
    margin: 5px;

}

.noerror {
    height: 15px;
    margin: 5px;
}

