.option {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    line-height: 2rem;
}

.option:checked {
    background: #2EE59D;
}

.option:hover {
    border: 2px dimgrey;
}

select {
    width: 200px;
    font-size: 1rem;
    padding: 0.5rem 6rem 0.5rem 0.5rem;
    border: 0;
    background-color: #e0dada;
    color: black;
    border-radius: 10px;


}

select:focus {
    outline: none;
    border: 0;
}


.customSelect {
    position: relative;
    border-radius: 78px;
    vertical-align: middle;
    margin-bottom: 30px;
}

.arrow {
    position: absolute;
    left: 27%;
    top: 23%;
}

.customArrow {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30px;
    background: #50a785;
    pointer-events: none;
    border-radius: 0px 10px 10px 0;


}

.customArrow::before,
.customArrow::after {
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    top: 40px;
    align-items: center;

}

