.checkbox {
    display: inline-flex;
    cursor: pointer;
    position: relative;


}

.labelCheckbox .spanClassName {
    color: #34495E;
    padding: 0.5rem 0.25rem;

}

.checkbox .checkbox {
    height: 21px;
    width: 21px;
    appearance: none;
    border: 1px solid rgb(100, 98, 98);
    border-radius: 30px;
    transition-duration: 0.4s;
    background-color: white;
    cursor: pointer;


}

.checkbox .checkbox:checked {
    border: 1px solid #646262;
    background-color: rgba(125, 232, 119, 0.5);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);


}

.checkbox .checkbox:checked::after {
    content: '\2713	';
    display: block;
    text-align: center;
    justify-content: center;
    color: #524F4EFF;
    position: absolute;
    left: 0.2rem;
    font-size: 18px;

}
.checkbox .spanClassName {
    color: #34495E;
    font-size: 21px;
    font-weight: 700;

}

