.linkContainer::after {
    content: 'Levels';
    padding-top: 25px;


}

.linkContainer {
    display: flex;
    width: 500px;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    background: #7DE87799;
    border-radius: 15px;
    transform: translate(-480px);
    transition-duration: 300ms;
    padding: 15px;
}

.linkContainer:hover {

    border-radius: 15px;
    transform: translate(-20px);
    transition-duration: 300ms;
    width: 480px;
    justify-content: space-around;

}

.linkContainer:hover::after {
    content: none;

}


.link {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    flex-direction: column;
    justify-content: space-between;
    color: black;
}

.link:hover {
    text-shadow: 2px 2px 2px white;
}

.link:active {
    color: #2EE59D;
}

.levels {
    display: contents;
}


@media screen and (max-width: 500px) {

    .linkContainer {
        width: 330px;
        transform: translate(-300px);
        padding: 5px;
    }

    .linkContainer:hover {

        transform: translate(-30px);
        width: 360px;
        justify-content: space-around;


    }
    .linkContainer::after {
        content: 'Levels';
        padding-top: 12px;


    }

}

@media screen and (max-width: 300px) {

    .linkContainer {
        width: 330px;
        transform: translate(-280px);
        justify-content: left;

    }

    .linkContainer:hover {

        transform: translate(-10px);
        width: 240px;
        justify-content: space-around;


    }
    .linkContainer::after {
        content: 'Levels';
        padding-top: 12px;


    }

}